* {
    font-family: 'Press Start 2P', cursive;
}

body {
	position: relative;
}


#scoreConsole {
	margin-left: 35%;
	margin-top: 40px;
	margin-right: 20px;
	display: inline-block;
	border: 5px solid black;
	text-align: center;
	width: 200px;
	height: 440px;
	left: 30%;
	float: left;
}

#canvasContainer {
    margin-top: 40px;
    display: inline-block;
    width: 200px;
    height: 440px;
    left: 50%;
}

#myCanvas {
	border: 5px solid black;
}

#playButton {
	border: solid 2px black;
	background-color: lightgrey;
	border-radius: 5px;
	width: 100px;
	display: block;
	margin: auto;
	text-align: center;
	font-size: 1em;
	margin-top: 1em;
}

#score {
	border: 5px solid black;
	width: 31.5%;
	margin: 20px 35%;
	padding-left: 30px;
	text-align: center;
}